
<%= render :partial => "layouts/title"  %>


<!-- 热门歌单 -->
<div class="mod_index mod_index--hot mod_slide_box mod_bg" id="taogelist_box">
  <div class="section_inner">
    <div class="index__hd">
      <h2 class="index__tit"><i class="icon_txt"><a href="/"> 歌单推荐</a></i></h2>
    </div>
    <!-- 切换 -->
    <div class="mod_index_tab" data-stat="y_new.index.playlist">
      <a href="javascript:;" class="index_tab__item index_tab__item--current js_tag" data-index="0" data-type="recomPlaylist" data-id="1">为你推荐</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-index="1" data-id="59">经典</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-index="2" data-id="32">夜店</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-index="3" data-id="48">民谣</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-index="4" data-id="3317">官方歌单</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-type="playlist" data-index="5" data-id="71">情歌</a>
    </div>

    <div class="mod_playlist mod_slide">
      <ul class="playlist__list slide__list" style="left: 0;">

        <% for i in 0..5 %>
        <li class="playlist__item slide__item" onmouseover="this.className=(this.className+' playlist__item--hover')" onmouseout="this.className=this.className.replace(/ playlist__item--hover/, '')" data-disstid="4235592186">
          <div class="playlist__item_box">
            <div class="playlist__cover mod_cover">
              <a   class="js_playlist" data-stat="y_new.index.playlist.pic" data-disstid="4235592186">

                <img src=""  alt="" class="playlist__pic" id="song_recommend<%= i %>"><i class="mod_cover__mask"></i><i class="mod_cover__icon_play js_play" data-stat="y_new.index.playlist.play_btn" ></i>

              </a>
            </div>
            <h4 class="playlist__title">

              <span class="playlist__title_txt"><a  class="js_playlist" id="song_recommend_desc<%= i %>"></a></span>

            </h4>
            <div class="playlist__other" id="song_recommend_author<%= i %>">
              来自：
            </div>
          </div>
        </li>
         <% end %>
      </ul>
    </div>
    <div class="mod_slide_switch js_switch" data-stat="y_new.index.playlist.pager">
      <a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item slide_switch__item--current" data-stat="y_new.index.playlist.pager" data-p="0"><i class="slide_switch__bg"></i><i class="icon_txt">1</i></a><a href="javascript:;" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.playlist.pager" data-p="1"><i class="slide_switch__bg"></i><i class="icon_txt">2</i></a>
    </div>
  </div>
  <div class="mod_slide_action">
    <div class="slide_action slide_action--left">
      <a href="javascript:;" class="slide_action__btn slide_action__btn--left js_jump" data-p="prev" tabindex="-1" data-stat="y_new.index.playlist.pager"><i class="icon_txt">上一页</i><i class="slide_action__arrow slide_action__arrow--left sprite"></i></a>
    </div>
    <div class="slide_action slide_action--right">
      <a href="javascript:;" class="slide_action__btn slide_action__btn--right js_jump" data-p="next" tabindex="-1" data-stat="y_new.index.playlist.pager"><i class="icon_txt">下一页</i><i class="slide_action__arrow slide_action__arrow--right sprite"></i></a>
    </div>
  </div>
</div>

<!-- 新歌首发 -->
<div class="mod_index mod_index--song mod_slide_box js_box mod_bg" id="new_song_box">
  <div class="section_inner">
    <div class="index__hd">
      <h2 class="index__tit"><i class="icon_txt">新歌首发</i></h2>
    </div>
    <a href="javascript:;" class="mod_btn js_all_play"><i class="mod_btn__icon_play js_all_play" data-stat="y_new.index.new_song.playall"></i>播放全部</a>
    <!-- 切换 -->
    <div class="mod_index_tab" data-stat="y_new.index.new_song">
      <a href="javascript:;" class="index_tab__item index_tab__item--current js_tag" data-index="0" data-type="new_song" data-id="1">内地</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-index="1" data-type="new_song" data-id="2">港台</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-index="2" data-type="new_song" data-id="3">欧美</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-index="3" data-type="new_song" data-id="4">日本</a>

      <a href="javascript:;" class="index_tab__item js_tag" data-index="4" data-type="new_song" data-id="5">韩国</a>
    </div>

    <div class="mod_songlist mod_slide">
      <div class="slide__list js_list" id="new_song_left" style="left: 0;">

        <ul class="songlist__list">
            <% for i in 0..8 %>
          <li class="songlist__item" mid="217446904" ix="<%= i %>">

            <div class="songlist__item_box" style="visibility: visible;">
              <%= link_to  home_path(i),class: "album_name songlist__link mod_cover" do %>
<!--              <a href="/"  title="" data-albummid="000ujFf61gJy8A" data-albumid="4664496" class="" id="title_songname<%#= i %>">-->
                <img class="songlist__pic" id="image<%= i%>"  src=""  style="display: block; visibility: visible;" >
                <i class="mod_cover__mask"></i>
                <i class="mod_cover__icon_play js_play" data-stat="y_new.index.new_song.play_btn"></i>
<!--              </a>-->
          <% end %>
              <div class="songlist__cont">
                <h3 class="songlist__song">

                  <a  class="js_song" title="一曲相思 " id="title<%= i %>"></a>
                </h3>


                <p class="songlist__author" title="">


                  <a href="/"   data-singermid="0013RsPD3Xs0FG" data-singerid="1199300" title="半阳" class="c_tx_thin singer_name" id="singer<%= i %>"></a>

                </p>
              </div>
            </div>

          </li>
            <% end %>


        </ul>


        <ul class="songlist__list">
          <% for i in 9..17 %>
            <li class="songlist__item" mid="217446904" ix="<%= i %>">

              <div class="songlist__item_box" style="visibility: visible;">
                <%= link_to  home_path(i),class: "album_name songlist__link mod_cover" do %>
                  <!--              <a href="/"  title="" data-albummid="000ujFf61gJy8A" data-albumid="4664496" class="" id="title_songname<%#= i %>">-->
                  <img class="songlist__pic" id="image<%= i%>"  src=""  style="display: block; visibility: visible;" >
                  <i class="mod_cover__mask"></i>
                  <i class="mod_cover__icon_play js_play" data-stat="y_new.index.new_song.play_btn"></i>
                  <!--              </a>-->
                <% end %>
                <div class="songlist__cont">
                  <h3 class="songlist__song">

                    <a  class="js_song" title="一曲相思 " id="title<%= i %>"></a>
                  </h3>


                  <p class="songlist__author" title="">


                    <a href="/"   data-singermid="0013RsPD3Xs0FG" data-singerid="1199300" title="半阳" class="c_tx_thin singer_name" id="singer<%= i %>"></a>

                  </p>
                </div>
              </div>

            </li>
          <% end %>

        </ul>

        <ul class="songlist__list">
          <% for i in 18..26 %>
            <li class="songlist__item" mid="217446904" ix="<%= i %>">

              <div class="songlist__item_box" style="visibility: visible;">
                <%= link_to  home_path(i),class: "album_name songlist__link mod_cover" do %>
                  <!--              <a href="/"  title="" data-albummid="000ujFf61gJy8A" data-albumid="4664496" class="" id="title_songname<%#= i %>">-->
                  <img class="songlist__pic" id="image<%= i%>"  src=""  style="display: block; visibility: visible;" >
                  <i class="mod_cover__mask"></i>
                  <i class="mod_cover__icon_play js_play" data-stat="y_new.index.new_song.play_btn"></i>
                  <!--              </a>-->
                <% end %>
                <div class="songlist__cont">
                  <h3 class="songlist__song">

                    <a  class="js_song" title="一曲相思 " id="title<%= i %>"></a>
                  </h3>


                  <p class="songlist__author" title="">


                    <a href="/"   data-singermid="0013RsPD3Xs0FG" data-singerid="1199300" title="半阳" class="c_tx_thin singer_name" id="singer<%= i %>"></a>

                  </p>
                </div>
              </div>

            </li>
          <% end %>

        </ul>

        <ul class="songlist__list">
          <% for i in 27..35 %>
            <li class="songlist__item" mid="217446904" ix="<%= i %>">

              <div class="songlist__item_box" style="visibility: visible;">
                <%= link_to  home_path(i),class: "album_name songlist__link mod_cover" do %>
                  <!--              <a href="/"  title="" data-albummid="000ujFf61gJy8A" data-albumid="4664496" class="" id="title_songname<%#= i %>">-->
                  <img class="songlist__pic" id="image<%= i%>"  src=""  style="display: block; visibility: visible;" >
                  <i class="mod_cover__mask"></i>
                  <i class="mod_cover__icon_play js_play" data-stat="y_new.index.new_song.play_btn"></i>
                  <!--              </a>-->
                <% end %>
                <div class="songlist__cont">
                  <h3 class="songlist__song">

                    <a  class="js_song" title="一曲相思 " id="title<%= i %>"></a>
                  </h3>


                  <p class="songlist__author" title="">


                    <a href="/"   data-singermid="0013RsPD3Xs0FG" data-singerid="1199300" title="半阳" class="c_tx_thin singer_name" id="singer<%= i %>"></a>

                  </p>
                </div>
              </div>

            </li>
          <% end %>

        </ul>

        <ul class="songlist__list">
          <% for i in 36..44 %>
            <li class="songlist__item" mid="217446904" ix="<%= i %>">

              <div class="songlist__item_box" style="visibility: visible;">
                <%= link_to home_path(i), class: "album_name songlist__link mod_cover" do %>
                  <!--              <a href="/"  title="" data-albummid="000ujFf61gJy8A" data-albumid="4664496" class="" id="title_songname<%#= i %>">-->
                  <img class="songlist__pic" id="image<%= i %>" src="" style="display: block; visibility: visible;">
                  <i class="mod_cover__mask"></i>
                  <i class="mod_cover__icon_play js_play" data-stat="y_new.index.new_song.play_btn"></i>
                  <!--              </a>-->
                <% end %>
                <div class="songlist__cont">
                  <h3 class="songlist__song">

                    <a class="js_song" title="一曲相思 " id="title<%= i %>"></a>
                  </h3>


                  <p class="songlist__author" title="">


                    <a href="/" data-singermid="0013RsPD3Xs0FG" data-singerid="1199300" title="半阳" class="c_tx_thin singer_name" id="singer<%= i %>"></a>

                  </p>
                </div>
              </div>

            </li>
          <% end %>

        </ul>

        <ul class="songlist__list">
          <% for i in 45..53 %>
            <li class="songlist__item" mid="217446904" ix="<%= i %>">

              <div class="songlist__item_box" style="visibility: visible;">
                <%= link_to  home_path(i),class: "album_name songlist__link mod_cover" do %>
                  <!--              <a href="/"  title="" data-albummid="000ujFf61gJy8A" data-albumid="4664496" class="" id="title_songname<%#= i %>">-->
                  <img class="songlist__pic" id="image<%= i%>"  src=""  style="display: block; visibility: visible;" >
                  <i class="mod_cover__mask"></i>
                  <i class="mod_cover__icon_play js_play" data-stat="y_new.index.new_song.play_btn"></i>
                  <!--              </a>-->
                <% end %>
                <div class="songlist__cont">
                  <h3 class="songlist__song">

                    <a  class="js_song" title="一曲相思 " id="title<%= i %>"></a>
                  </h3>


                  <p class="songlist__author" title="">


                    <a href="/"   data-singermid="0013RsPD3Xs0FG" data-singerid="1199300" title="半阳" class="c_tx_thin singer_name" id="singer<%= i %>"></a>

                  </p>
                </div>
              </div>

            </li>
          <% end %>

        </ul>
      </div>
    </div>
    <div class="mod_slide_switch js_switch" data-stat="y_new.index.new_song.pager">
      <a id="swith1" tabindex="-1" class="js_jump slide_switch__item slide_switch__item--current" data-stat="y_new.index.new_song.pager" data-p="0"><i class="slide_switch__bg"></i><i class="icon_txt">1</i></a>
      <a id="swith2" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.new_song.pager" data-p="1"><i class="slide_switch__bg"></i><i class="icon_txt">2</i></a>
      <a id="swith3" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.new_song.pager" data-p="2"><i class="slide_switch__bg"></i><i class="icon_txt">3</i></a>
      <a id="swith4" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.new_song.pager" data-p="3"><i class="slide_switch__bg"></i><i class="icon_txt">4</i></a>
      <a id="swith5" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.new_song.pager" data-p="3"><i class="slide_switch__bg"></i><i class="icon_txt">5</i></a>
      <a id="swith6" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.new_song.pager" data-p="3"><i class="slide_switch__bg"></i><i class="icon_txt">6</i></a>
    </div>
  </div>
  <div class="mod_slide_action">
    <div class="slide_action slide_action--left">
      <a onclick="new_song_pre()" id="new_song_pre" class="slide_action__btn slide_action__btn--left js_jump" data-p="prev" tabindex="-1" data-stat="y_new.index.new_song.pager"><i class="icon_txt">上一页</i><i class="slide_action__arrow slide_action__arrow--left sprite"></i></a>
    </div>
    <div class="slide_action slide_action--right">
      <a onclick="new_song_next()" id="new_song_next" class="slide_action__btn slide_action__btn--right js_jump" data-p="next" tabindex="-1" data-stat="y_new.index.new_song.pager"><i class="icon_txt">下一页</i><i class="slide_action__arrow slide_action__arrow--right sprite"></i></a>
    </div>
  </div>
</div>
<!-- 精彩推荐 -->
<div class="mod_index mod_index--event mod_slide_box mod_bg js_box" id="focus_box" style="display:block;">
  <div class="section_inner">
    <div class="index__hd">
      <h2 class="index__tit"><i class="icon_txt">精彩推荐</i></h2>
    </div>

    <div class="mod_event mod_slide">
      <ul class="event_list slide__list js_list" style="left: -100%;" id="Wonderful_recommendation">
        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="00382iyI0CNnhK">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362513.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="3002" data-stat="y_new.index.focus.click" data-id="https://y.qq.com/msa/270/1_6196.html">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362191.png?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="004BFbgh1Kd6a4">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/361929.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="0039ABBK19fJv4">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362273.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="000wu5of1cC4cf">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362482.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10012" data-stat="y_new.index.focus.click" data-id="b002714aor2">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362524.jpeg" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="002vFrm70wWsxZ">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/363554.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="0013PSNX2TvHau">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362514.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="00382iyI0CNnhK">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362513.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="3002" data-stat="y_new.index.focus.click" data-id="https://y.qq.com/msa/270/1_6196.html">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362191.png?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="004BFbgh1Kd6a4">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/361929.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>

        <li class="event_list__item slide__item">
          <a href="javascript:;" class="event_list__link js_focus_jump" data-type="10002" data-stat="y_new.index.focus.click" data-id="0039ABBK19fJv4">
            <img src="//y.gtimg.cn/music/common/upload/MUSIC_FOCUS/362273.jpg?max_age=2592000" class="event_list__pic" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="mod_slide_switch js_switch" data-stat="y_new.index.focus.pager">
      <a  id="jingcai1" tabindex="-1" class="js_jump slide_switch__item slide_switch__item--current" data-stat="y_new.index.focus.pager" data-p="0"><i class="slide_switch__bg"></i><i class="icon_txt">1</i></a>
      <a  id="jingcai2" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.focus.pager" data-p="1"><i class="slide_switch__bg"></i><i class="icon_txt">2</i></a>
      <a  id="jingcai3" tabindex="-1" class="js_jump slide_switch__item" data-stat="y_new.index.focus.pager" data-p="2"><i class="slide_switch__bg"></i><i class="icon_txt">3</i></a>
    </div>
  </div>
  <div class="mod_slide_action">
    <div class="slide_action slide_action--left">
      <a  class="slide_action__btn slide_action__btn--left js_jump" onclick="Wonderful_recommendation_pre()" data-p="prev" tabindex="-1" data-stat="y_new.index.focus.pager"><i class="icon_txt">上一页</i><i class="slide_action__arrow slide_action__arrow--left sprite"></i></a>
    </div>
    <div class="slide_action slide_action--right">
      <a class="slide_action__btn slide_action__btn--right js_jump" onclick="Wonderful_recommendation_next()" data-p="next" tabindex="-1" data-stat="y_new.index.focus.pager"><i class="icon_txt">下一页</i><i class="slide_action__arrow slide_action__arrow--right sprite"></i></a>
    </div>
  </div>

</div>




<!-- 排行榜 -->
<div class="mod_index mod_index--top mod_slide_box mod_bg js_box" id="toplist_box" style="display:block;">
  <div class="section_inner">
    <div class="index__hd">
      <h2 class="index__tit"><i class="icon_txt">排行榜</i></h2>
    </div>
    <a  class="index__more js_more" data-type="toplist">更多<i class="icon_index_arrow sprite"></i></a>
    <div class="mod_toplist">

      <div class="mod_toplist">
        <ul class="toplist__list js_list">
          <li class="toplist__item item1 mod_cover">
            <div class="toplist__box">
              <div class="toplist__bg"></div>
              <i class="mod_cover__icon_play js_play_toplist" data-stat="y_new.index.toplist.play.4" data-id="4" data-type="0" data-date="2018-10-13"></i>
              <i class="toplist__line"></i>
              <h3 class="toplist__hd"><a data-stat="y_new.index.toplist.detail.4" class="toplist__tit">流行指数</a></h3>
              <ul class="toplist__songlist">


                <li class="toplist__song">
                  <div class="toplist__number">1</div>
                  <div class="toplist__songname">
                    <a  class="js_song" data-id="218081166" data-stat="y_new.index.toplist.songname">没说什么</a>
                  </div>
                  <div class="toplist__artist">
                    <a  class="js_singer" data-singerid="6499" data-stat="y_new.index.toplist.singername">张杰</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">2</div>
                  <div class="toplist__songname">
                    <a class="js_song" data-id="217911280" data-stat="y_new.index.toplist.songname">水滴石穿 (Live)</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="945829" data-stat="y_new.index.toplist.singername">那吾克热LIL-EM</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">3</div>
                  <div class="toplist__songname">
                    <a class="js_song" data-id="217911288" data-stat="y_new.index.toplist.songname">攀登 (Live)</a>
                  </div>
                  <div class="toplist__artist">
                    <a  class="js_singer" data-singerid="4359" data-stat="y_new.index.toplist.singername">潘玮柏</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">4</div>
                  <div class="toplist__songname">
                    <a  class="js_song" data-id="202827116" data-stat="y_new.index.toplist.songname">沙漠骆驼</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="1508347" data-stat="y_new.index.toplist.singername">展展与罗罗</a>
                  </div>
                </li>

              </ul>
            </div>
          </li>

          <li class="toplist__item item2 mod_cover">
            <div class="toplist__box">
              <div class="toplist__bg"></div>
              <i class="mod_cover__icon_play js_play_toplist" data-stat="y_new.index.toplist.play.26" data-id="26" data-type="0" data-date="2018_40"></i>
              <i class="toplist__line"></i>
              <h3 class="toplist__hd"><a  data-stat="y_new.index.toplist.detail.26" class="toplist__tit">热歌</a></h3>
              <ul class="toplist__songlist">


                <li class="toplist__song">
                  <div class="toplist__number">1</div>
                  <div class="toplist__songname">
                    <a  data-id="217530992" data-stat="y_new.index.toplist.songname">无药可救</a>
                  </div>
                  <div class="toplist__artist">
                    <a  class="js_singer" data-singerid="6499" data-stat="y_new.index.toplist.singername">张杰</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">2</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="214734117" data-stat="y_new.index.toplist.songname">年少有为</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="60505" data-stat="y_new.index.toplist.singername">李荣浩</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">3</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="200255722" data-stat="y_new.index.toplist.songname">光年之外</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="13948" data-stat="y_new.index.toplist.singername">G.E.M. 邓紫棋</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">4</div>
                  <div class="toplist__songname">
                    <a  class="js_song" data-id="213004279" data-stat="y_new.index.toplist.songname">侧脸</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="1358989" data-stat="y_new.index.toplist.singername">于果</a>
                  </div>
                </li>

              </ul>
            </div>
          </li>

          <li class="toplist__item item3 mod_cover">
            <div class="toplist__box">
              <div class="toplist__bg"></div>
              <i class="mod_cover__icon_play js_play_toplist" data-stat="y_new.index.toplist.play.27" data-id="27" data-type="0" data-date="2018-10-13"></i>
              <i class="toplist__line"></i>
              <h3 class="toplist__hd"><a   data-stat="y_new.index.toplist.detail.27" class="toplist__tit">新歌</a></h3>
              <ul class="toplist__songlist">


                <li class="toplist__song">
                  <div class="toplist__number">1</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="218081166" data-stat="y_new.index.toplist.songname">没说什么</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="6499" data-stat="y_new.index.toplist.singername">张杰</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">2</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="217874346" data-stat="y_new.index.toplist.songname">Give Me A Chance</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="60894" data-stat="y_new.index.toplist.singername">张艺兴</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">3</div>
                  <div class="toplist__songname">
                    <a  class="js_song" data-id="217530992" data-stat="y_new.index.toplist.songname">无药可救</a>
                  </div>
                  <div class="toplist__artist">
                    <a  class="js_singer" data-singerid="6499" data-stat="y_new.index.toplist.singername">张杰</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">4</div>
                  <div class="toplist__songname">
                    <a  class="js_song" data-id="217924183" data-stat="y_new.index.toplist.songname">有一种悲伤</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="6028" data-stat="y_new.index.toplist.singername">A-Lin</a>
                  </div>
                </li>

              </ul>
            </div>
          </li>

          <li class="toplist__item item4 mod_cover">
            <div class="toplist__box">
              <div class="toplist__bg"></div>
              <i class="mod_cover__icon_play js_play_toplist" data-stat="y_new.index.toplist.play.3" data-id="3" data-type="0" data-date="2018_40"></i>
              <i class="toplist__line"></i>
              <h3 class="toplist__hd"><a  data-stat="y_new.index.toplist.detail.3" class="toplist__tit">欧美</a></h3>
              <ul class="toplist__songlist">


                <li class="toplist__song">
                  <div class="toplist__number">1</div>
                  <div class="toplist__songname">
                    <a  class="js_song" data-id="217874623" data-stat="y_new.index.toplist.songname">1999</a>
                  </div>
                  <div class="toplist__artist">
                    <a  class="js_singer" data-singerid="70651" data-stat="y_new.index.toplist.singername">Charli XCX</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">2</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="217157321" data-stat="y_new.index.toplist.songname">Diamond Heart</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="944940" data-stat="y_new.index.toplist.singername">Alan Walker</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">3</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="217511802" data-stat="y_new.index.toplist.songname">RISE 登峰造极境</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="71600" data-stat="y_new.index.toplist.singername">The Glitch Mob</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">4</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="217529927" data-stat="y_new.index.toplist.songname">Shallow</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="13769" data-stat="y_new.index.toplist.singername">Lady Gaga</a>
                  </div>
                </li>

              </ul>
            </div>
          </li>

          <li class="toplist__item item5 mod_cover">
            <div class="toplist__box">
              <div class="toplist__bg"></div>
              <i class="mod_cover__icon_play js_play_toplist" data-stat="y_new.index.toplist.play.16" data-id="16" data-type="0" data-date="2018_40"></i>
              <i class="toplist__line"></i>
              <h3 class="toplist__hd"><a   data-stat="y_new.index.toplist.detail.16" class="toplist__tit">韩国</a></h3>
              <ul class="toplist__songlist">


                <li class="toplist__song">
                  <div class="toplist__number">1</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="217533129" data-stat="y_new.index.toplist.songname">GOODBYE ROAD (이별길)</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="346960" data-stat="y_new.index.toplist.singername">iKON (아이콘)</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">2</div>
                  <div class="toplist__songname">
                    <a  class="js_song" data-id="217549518" data-stat="y_new.index.toplist.songname">행복한 이 시간 (Happy This Time)</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="2137239" data-stat="y_new.index.toplist.singername">윤소하</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">3</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="217533128" data-stat="y_new.index.toplist.songname">DON'T LET ME KNOW (내가 모르게)</a>
                  </div>
                  <div class="toplist__artist">
                    <a   class="js_singer" data-singerid="346960" data-stat="y_new.index.toplist.singername">iKON (아이콘)</a>
                  </div>
                </li>

                <li class="toplist__song">
                  <div class="toplist__number">4</div>
                  <div class="toplist__songname">
                    <a   class="js_song" data-id="217874397" data-stat="y_new.index.toplist.songname">까만밤 (All Night)</a>
                  </div>
                  <div class="toplist__artist">
                    <a  class="js_singer" data-singerid="90961" data-stat="y_new.index.toplist.singername">소유 (昭宥)</a>
                  </div>
                </li>

              </ul>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>



<%= render :partial => "layouts/foot"  %>







<script>
  //控制新歌上一页
    var i = 0;
    function new_song_pre() {
        if (i < 1) {
            $("#new_song_left").css("left", "-500%");
            i = 5;
        } else {
            $("#new_song_left").css("left", "-=-100%");
            i = i - 1;
        }
    }
  //控制新歌下一页
    function new_song_next() {
        if (i > 5) {
            $("#new_song_left").css("left", "0");
            i = 1;
        } else {
            $("#new_song_left").css("left", "+=-100%");
            i = i + 1;
        }
    }
//点击轮播图小按钮
    $("#swith1").click(function () {
        $("#new_song_left").css("left", "-100%")

    })
    $("#swith2").click(function () {
        $("#new_song_left").css("left", "-100%")
    })
    $("#swith3").click(function () {
        $("#new_song_left").css("left", "-200%")

    })
    $("#swith4").click(function () {
        $("#new_song_left").css("left", "-300%")

    })
    $("#swith5").click(function () {
      $("#new_song_left").css("left", "-400%")

  })
    $("#swith6").click(function () {
      $("#new_song_left").css("left", "-500%")

  })


    //控制精彩推荐

  function Wonderful_recommendation_pre() {
      if (i < 1) {
          $("#Wonderful_recommendation").css("left", "-400%");
          i = 4;
      } else {
          $("#Wonderful_recommendation").css("left", "-=-100%");
          i = i - 1;
      }
  }

  //控制新歌下一页
  function Wonderful_recommendation_next() {
      if (i > 4) {
          $("#Wonderful_recommendation").css("left", "-100%");
          i = 1;
      } else {
          $("#Wonderful_recommendation").css("left", "+=-100%");
          i = i + 1;
      }
  }
  //精彩推荐小圆球
  $("#jingcai1").click(function () {
      $("#Wonderful_recommendation").css("left", "-100%")

  })
  $("#jingcai2").click(function () {
      $("#Wonderful_recommendation").css("left", "-200%")

  })
  $("#jingcai3").click(function () {
      $("#Wonderful_recommendation").css("left", "-300%")

  })
</script>

<!--新歌首发-->
<script>

let url = 'https://c.y.qq.com/v8/fcg-bin/fcg_v8_toplist_cp.fcg?g_tk=5381&uin=0&format=json&inCharset=utf-8&outCharset=utf-8&notice=0&platform=h5&needNewCode=1&tpl=3&page=detail&type=top&topid=27&_=1519963122923';
$.ajax({
    url: url,
    type: "get",
    dataType: 'jsonp',
    jsonp: "jsonpCallback",
    scriptCharset: 'GBK',//解决中文乱码
    success: function (data) {
        //最新音乐数据
        var cur_song_num = data.cur_song_num; //获取最新歌曲的长度
        //console.log(data);
        //把36条数据导入
        //第1-9条数据
        for (var i = 0; i < 9; i++) {
            //console.log(data.songlist[i].data.albumname);
            //console.log(i);
            //获取图片的mid
             var albummid = data.songlist[i].data.albummid;
            $("#image"+i).attr('src',"https://y.gtimg.cn/music/photo_new/T002R300x300M000" + albummid + ".jpg?max_age=2592000");

            //获取歌曲名字
            //document.getElementById("demo" + i).innerHTML = data.songlist[i].data.albumname;
            $("#title"+i).append(data.songlist[i].data.albumname);


            //当鼠标移到歌曲封面显示歌曲名字
            $("#title_songname"+i).attr("title",data.songlist[i].data.albumname)

            // //获取歌手的名字

            $("#singer"+i).append(data.songlist[i].data.singer[0].name);

            //设置title为歌手name
            $("#singer"+i).attr('title',data.songlist[i].data.singer[0].name);
            // 获取歌手的mid
            $("#singer"+i).attr('data-singermid',data.songlist[i].data.singer[0].mid);
            // 获取歌手的id
            $("#singer"+i).attr('data-singerid',data.songlist[i].data.singer[0].id);

        }
        for(var i=9;i<18;i++){
           // console.log(data.songlist[i].data.albumname);
            //console.log(i);
            //获取图片的mid
            var albummid = data.songlist[i].data.albummid;
            $("#image" + i).attr('src', "https://y.gtimg.cn/music/photo_new/T002R300x300M000" + albummid + ".jpg?max_age=2592000");

            //获取歌曲名字
            //document.getElementById("demo" + i).innerHTML = data.songlist[i].data.albumname;
            $("#title" + i).append(data.songlist[i].data.albumname);

            //当鼠标移到歌曲封面显示歌曲名字
            $("#title_songname" + i).attr("title", data.songlist[i].data.albumname)

            // //获取歌手的名字

            $("#singer" + i).append(data.songlist[i].data.singer[0].name);

            //设置title为歌手name
            $("#singer" + i).attr('title', data.songlist[i].data.singer[0].name);
            // 获取歌手的mid
            $("#singer" + i).attr('data-singermid', data.songlist[i].data.singer[0].mid);
            // 获取歌手的id
            $("#singer" + i).attr('data-singerid', data.songlist[i].data.singer[0].id);
        }
        for(var i=18;i<27;i++){
            //console.log(data.songlist[i].data.albumname);
            //console.log(i);
            //获取图片的mid
            var albummid = data.songlist[i].data.albummid;
            $("#image" + i).attr('src', "https://y.gtimg.cn/music/photo_new/T002R300x300M000" + albummid + ".jpg?max_age=2592000");

            //获取歌曲名字
            //document.getElementById("demo" + i).innerHTML = data.songlist[i].data.albumname;
            $("#title" + i).append(data.songlist[i].data.albumname);

            //当鼠标移到歌曲封面显示歌曲名字
            $("#title_songname" + i).attr("title", data.songlist[i].data.albumname)

            // //获取歌手的名字

            $("#singer" + i).append(data.songlist[i].data.singer[0].name);

            //设置title为歌手name
            $("#singer" + i).attr('title', data.songlist[i].data.singer[0].name);
            // 获取歌手的mid
            $("#singer" + i).attr('data-singermid', data.songlist[i].data.singer[0].mid);
            // 获取歌手的id
            $("#singer" + i).attr('data-singerid', data.songlist[i].data.singer[0].id);
        }
        for(var i=27;i<36;i++){
           // console.log(data.songlist[i].data.albumname);
            //console.log(i);
            //获取图片的mid
            var albummid = data.songlist[i].data.albummid;
            $("#image" + i).attr('src', "https://y.gtimg.cn/music/photo_new/T002R300x300M000" + albummid + ".jpg?max_age=2592000");

            //获取歌曲名字
            //document.getElementById("demo" + i).innerHTML = data.songlist[i].data.albumname;
            $("#title" + i).append(data.songlist[i].data.albumname);

            //当鼠标移到歌曲封面显示歌曲名字
            $("#title_songname" + i).attr("title", data.songlist[i].data.albumname)

            // //获取歌手的名字

            $("#singer" + i).append(data.songlist[i].data.singer[0].name);

            //设置title为歌手name
            $("#singer" + i).attr('title', data.songlist[i].data.singer[0].name);
            // 获取歌手的mid
            $("#singer" + i).attr('data-singermid', data.songlist[i].data.singer[0].mid);
            // 获取歌手的id
            $("#singer" + i).attr('data-singerid', data.songlist[i].data.singer[0].id);
        }
        for (var i = 36; i < 45; i++) {
            //console.log(data.songlist[i].data.albumname);
            //console.log(i);
            //获取图片的mid
            var albummid = data.songlist[i].data.albummid;
            $("#image" + i).attr('src', "https://y.gtimg.cn/music/photo_new/T002R300x300M000" + albummid + ".jpg?max_age=2592000");

            //获取歌曲名字
            //document.getElementById("demo" + i).innerHTML = data.songlist[i].data.albumname;
            $("#title" + i).append(data.songlist[i].data.albumname);

            //当鼠标移到歌曲封面显示歌曲名字
            $("#title_songname" + i).attr("title", data.songlist[i].data.albumname)

            // //获取歌手的名字

            $("#singer" + i).append(data.songlist[i].data.singer[0].name);


            //设置title为歌手name
            $("#singer" + i).attr('title', data.songlist[i].data.singer[0].name);
            // 获取歌手的mid
            $("#singer" + i).attr('data-singermid', data.songlist[i].data.singer[0].mid);
            // 获取歌手的id
            $("#singer" + i).attr('data-singerid', data.songlist[i].data.singer[0].id);
        }
        for (var i = 45; i < 54; i++) {
           // console.log(data.songlist[i].data.albumname);
            //console.log(i);
            //获取图片的mid
            var albummid = data.songlist[i].data.albummid;
            $("#image" + i).attr('src', "https://y.gtimg.cn/music/photo_new/T002R300x300M000" + albummid + ".jpg?max_age=2592000");

            //获取歌曲名字
            //document.getElementById("demo" + i).innerHTML = data.songlist[i].data.albumname;
            $("#title" + i).append(data.songlist[i].data.albumname);

            //当鼠标移到歌曲封面显示歌曲名字
            $("#title_songname" + i).attr("title", data.songlist[i].data.albumname)

            // //获取歌手的名字

            $("#singer" + i).append(data.songlist[i].data.singer[0].name);

            //设置title为歌手name
            $("#singer" + i).attr('title', data.songlist[i].data.singer[0].name);
            // 获取歌手的mid
            $("#singer" + i).attr('data-singermid', data.songlist[i].data.singer[0].mid);
            // 获取歌手的id
            $("#singer" + i).attr('data-singerid', data.songlist[i].data.singer[0].id);
        }
    },
    error: function (e) {
        console.log(e);
    }
});

</script>


<!--推荐歌单-->
<script>
    let song_recommend_urls = 'https://c.y.qq.com/musichall/fcgi-bin/fcg_yqqhomepagerecommend.fcg?g_tk=5381';
    $.ajax({
        url: song_recommend_urls,
        type: "get",
        // async:false,
        dataType: 'jsonp',
        jsonp: "jsonpCallback",
        success: function (data) {

           // console.log(data);
           for (var i = 0; i < 6; i++){

                    //获取推荐歌单的图片
               $("#song_recommend"+i).attr('src',data.data.songList[i].picUrl);
               //获取推荐歌单的描述
               $("#song_recommend_desc"+i).append(data.data.songList[i].songListDesc);
               //获取推荐歌单的作者
               $("#song_recommend_author"+i).append(data.data.songList[i].songListAuthor);
            }


        },
        error: function (e) {
            console.log('error');
        }
    });
</script>

<!--排行-->
<script>

    $.ajax({
        url: 'https://c.y.qq.com/v8/fcg-bin/fcg_myqq_toplist.fcg?g_tk=1928093487&inCharset=utf-8&outCharset=utf-8&notice=0&format=jsonp&uin=0&needNewCode=1&platform=h5',
        type: "get",
        // async:false,
        dataType: 'jsonp',
        jsonp: "jsonpCallback",

        success: function (data) {
            console.log(data);
            //     //获取排行榜标题
            for (var  i=0;i<5;i++) {
                console.log(data.data.topList[0].topTitle);
                $("#toplist__tit" + i).append(data.data.topList[i].topTitle);
                //   console.log( data.data.topList[i].topTitle);
                for (var j = 0; j < 3; j++) {
                    $("#toplist_songname" + j).html(data.data.topList[i].songList[j].songname);
                    $("#toplist_singername" + j).html(data.data.topList[i].songList[j].singername);
                    console.log(data.data.topList[i].songList[j].singername);
                    console.log(data.data.topList[i].songList[j].songname);
                }
            }

        },
        error: function (e) {
            console.log('error');
        }
    });

</script>